<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('employee') }}">Hotel Employee</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('employee') }}">Home</a></li>
      <li><a href="{{ url_for('find_room_employee') }}">Đặt Phòng</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Thuê Phòng <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('rental_note') }}">Đã Đặt Trước</a></li>
          <li><a href="{{ url_for('rental_note_nobooking') }}">Chưa Đặt Trước</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('payment') }}">Thanh Toán</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       {% if current_user.is_authenticated %}
            <li class="nav-item" style="display: flex; align-items: center; justify-content: space-between; padding: 0 10px;">
                <div style="display: flex; align-items: center; gap: 10px;margin-right:20px">
            {% if current_user.avatar %}
                         <img src="{{ current_user.avatar }}" class="rounded-circle" width="30" alt="{{ current_user.name }}"
                            style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; border: 2px solid #fff;">
            {% else %}
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" class="rounded-circle" width="30" alt="{{ current_user.name }}"
                     style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover; border: 2px solid #fff;">
            {% endif %}
                        <span style="font-size: 16px; font-weight: bold; color: #33ccff; font-family:monospace; margin-left: 8px;">{{ current_user.username }}</span>
                    </div>
    {% endif %}
    <a href="{{ url_for('user_logout') }}"><span class="glyphicon glyphicon-log-in"></span> Đăng Xuất</a></li>
    </ul>
  </div>
</nav>