
{% extends 'layout/base.html' %}

{% block title %} PNP HOTEL {% endblock %}

{% block content %}
<body>
  <!-- Hiệu ứng loading -->
  <div id="loading-screen">
    <div class="lds-roller">
      <div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div>
    </div>
      <div id="loading-text">Loading...</div>
  </div>

  <!-- Carousel -->
  <div id="main-content" style="display: none;">
    <nav class="navbar navbar-inverse">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner mt-1">
            <div class="carousel-item active">
              <img src="https://eskipaper.com/images/maldive-islands-resort-1.jpg" alt="Los Angeles" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>Maldives</h3>
                <p>We had such a great time in Maldives!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://getwallpapers.com/wallpaper/full/e/0/7/1111915-widescreen-maldives-wallpaper-1920x1080-full-hd.jpg" alt="Chicago" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>Thailand</h3>
                <p>Thank you, Thailand!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://cdn.wallpapersafari.com/70/55/qu2Yvf.jpg" alt="New York" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>New York</h3>
                <p>We love the Big Apple!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://cdn.wallpapersafari.com/70/55/qu2Yvf.jpg" alt="Ha Long Bay" class="d-block" style="width:100%">
              <div class="carousel-caption">
                <h3>Ha Long Bay</h3>
                <p>Welcome to VietNam</p>
              </div>
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

        <!-- Form search -->
        <div class="hotel-search-form mt-2">
          <form action="{{ url_for('find_room') }}" method="get">
            {% if err_msg %}
              <div class="alert alert-danger">
                {{ err_msg }}
              </div>
            {% endif %}
            <div class="row justify-content-between align-items-end">
              <div class="col-6 col-md-2 col-lg-3">
                <label for="checkIn">Check In</label>
                <input type="date" class="form-control" id="checkIn" name="checkin-date" required>
              </div>
              <div class="col-6 col-md-2 col-lg-3">
                <label for="checkOut">Check Out</label>
                <input type="date" class="form-control" id="checkOut" name="checkout-date" required>
              </div>
              <div class="col-4 col-md-1">
                <label for="room">Room</label>
                <select name="room" id="room" class="form-select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="col-4 col-md-1">
                <label for="adults">Adult</label>
                <select name="adults" id="adults" class="form-select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="col-12 col-md-3">
                <form action="{{ url_for('find_room') }}">
                  <button type="submit" class="form-control btn roberto-btn w-100">Check Availability</button>
                </form>
              </div>
            </div>
          </form>
        </div>
        <!-- End Form search -->
      </div>
    </nav>
  </div>

</body>
{% endblock %}

