{% extends 'layout/base.html' %}

{% block title %}Dang nhap nguoi dung{% endblock %}

{% block content %}
<h1 class="text-center text-danger" >ĐĂNG NHẬP NGƯỜI DÙNG</h1>
{% if err_msg %}
<div class="alert alert-danger">
    <h4>{{ err_msg }}</h4>
</div>
{% endif %}
<form method="post">
    <div class="form-group">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" placeholder="Nhập tên đăng nhập..." id="username" name="username" required/>
    </div>
    <div class="form-group">
        <label for="pass">Mật khẩu</label>
        <input type="password" class="form-control" placeholder="Nhập mật khẩu..." id="pass" name="password"/>
    </div>
    <br>
    <input type="submit" value="Đăng nhập" class="btn btn-danger"/>
</form>
<br><br>
{% endblock %}
